.venv/
__pycache__/
.env
*.pyc
memory.json
config.py
voices.bin
kokoro-v0_19.onnx
temp_voice.mp3
vts_token.txt
astra.vrm
*.wav
static/live2d/model/demongirl.4096
static/live2d/model/vts-2024-08-13_01h05_57.png
static/live2d/model/demongirl.moc3