<div class="navbar">
    
    <div class="nav-left">
        <a href="/" class="nav-btn">
            🧊 Switch to 3D
        </a>
    </div>

    <div class="nav-right">
        <label for="emotion-select">Expression:</label>
        
        <select id="emotion-select" onchange="triggerExp(this.value)">
            <option value="Reset" selected>Neutral (Default)</option>
            <option value="Happy">Happy 😊</option>
            <option value="Sad">Sad 😢</option>
            <option value="Angry">Angry 😠</option>
            <option value="Amazed">Amazed 🤩</option>
            <option value="Cry">Crying 😭</option>
            <option value="Love">In Love 😍</option>
            <option value="Nervous">Nervous 😰</option>
            <option value="Sleepy">Sleepy 😴</option>
            <option value="Surprised">Surprised 😲</option>
            <option value="Smug">Smug 😏</option>
            <option value="Embarrassed">Embarrassed 😳</option>
            <option value="Confused">Confused 😕</option>
            <option value="Disgusted">Disgusted 🤢</option>
            <option value="Excited">Excited 😆</option>
            <option value="Bored">Bored 😒</option>
            <option value="Scared">Scared 😱</option>
            <option value="Thinking">Thinking 🤔</option>
            <option value="Disappointed">Disappointed 😞</option>
            <option value="Smiling">Smiling 🙂</option>
            <option value="Laughing">Laughing 🤣</option>
            <option value="Wink">Wink 😉</option>
            <option value="Determined">Determined 😤</option>
        </select>
    </div>
</div>